doctype html
html(lang="en")
    head
        title fashion outfits
        link(rel="stylesheet", href="stylesheets/styles.css")
    body
        .container
            section.gallery
                .images
                    div.wrapper
                        div Exclusive gifts.
                            br
                            | Insider access.
                            br
                            | Special events.
                            hr
                        img(src="images/2.jpg" alt="Fashion Image 1").item
                    div.wrapper
                        img(src="images/1.jpg" alt="Fashion Image 2").item
                        img(src="images/7.jpeg" alt="Fashion Image 3").item
                    div.wrapper
                        img(src="images/5.jpg" alt="Fashion Image 4").item
                    div.wrapper
                        img(src="images/4.jpg" alt="Fashion Image 5").item
                        img(src="images/3.jpg" alt="Fashion Image 6").item
                    div.wrapper
                        img(src="images/9.jpg" alt="Fashion Image 6").item
                        div Beauty
                            br
                            | Fashion
                            br
                            | Culture
                            br
                            hr
